# ──────────────────────────────────────────────────────────────────────
#
# Name					.gitignore
# Project				Zone
# Author				Elisey Konstantinov
#
# License				GPL v3
#
# ──────────────────────────────────────────────────────────────────────

# Current
Build/*
!Build/Wizard
!Build/Dockerfile

.cache
compile_commands.json

# ──────────────────────────────────────────────────────────────────────

# Windows
desktop.ini
Thumbs.db

# macOS
.DS_Store

# UNIX
.directory

# ──────────────────────────────────────────────────────────────────────

# Other
.vscode
.idea

# ──────────────────────────────────────────────────────────────────────
